<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-size:12px">
    <pre>
Dear Future Employer!


Thanks for joining our InternCITY network, a community with a great pool of talents from Bangladesh. We are here to give you a great platform to find the overlooked talens of our country, to network and make positive impact for your organization.

Joining this network, you are now close enough to get a chance to find some great Interns, a Corporate Mentor or even a Co-founder for your start-up from all over Bangladesh and beyond. This is a platform for you to launch yourself to the world, and show them your true potential or make your esteemed company get the value it deserves. We have just built our first platform to make life easy for you, and our next version promises to make your experience even better!

Make sure to visit our website regularly for finding out 'What's New' and following us in our social media channels for great community updates.

Remember that 'Information is Powerful'. And how you use your ability to connect with it makes the difference.


Best regards,

</pre>
Team InternCITY<br/>
<a href='www.interncity.org'>www.interncity.org</a><br/>
<a href='https://www.facebook.com/InternCity'>Facebook</a> | <a href='https://twitter.com/interncity'>Twitter</a> | <a href='https://plus.google.com/u/0/102401964320788548284/posts'>Google+ </a>
  </body>
</html>