<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-size:12px">
    <pre>
Dear Future Mentee!


Thanks for joining our InternCITY Mentorship network, a community with a great pool of Mentors and Mentee like yourself. We are here to give you a great platform to meet the right mentor for life and know your true potential that can enable you to perform your best than you can imagine.

Joining this network, you are now close enough to get a chance to find some great Interns to network with, the right Mentor for your current need or even a Co-founder for your start-up from all over Bangladesh and beyond. This is a platform for you to launch yourself to the world, and show them your true potential. We have just built our first platform to make life easy for you, and our next version promises to make your experience even better!

Make sure to visit our website regularly for finding out 'What's New' and following us in our social media channels for great community updates.

Remember that 'Information is Powerful'. And how you use your ability to connect with it makes the difference.


Best regards,

</pre>
Team InternCITY<br/>
<a href='www.interncity.org'>www.interncity.org</a><br/>
<a href='https://www.facebook.com/InternCity'>Facebook</a> | <a href='https://twitter.com/interncity'>Twitter</a> | <a href='https://plus.google.com/u/0/102401964320788548284/posts'>Google+ </a>
</pre>
  </body>
</html>