<footer class="row">
  <div class="container">
    <ul class="nav pull-left">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#interns">Interns</a></li>
      <li><a href="#organizations">Organizations</a></li>
      <li><a href="#mentors">Mentors</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

    <div class="social-icons pull-left" style="margin-top:-12px;">
      <a class="social-icon icon-twitter" href="https://twitter.com/InternCity"></a>
      <a class="social-icon icon-facebook" href="https://www.facebook.com/InternCity"></a>
      <a class="social-icon icon-linkedin" href="https://www.linkedin.com"></a>
      <a class="social-icon icon-pinterest" href="https://www.pinterest.com"></a>
      <a class="social-icon icon-youtube" href="https://www.youtube.com"></a>
    </div>

    <p class="pull-right" style="padding-right:10px;">&copy; InternCITY 2012-<script>document.write(new Date().getFullYear());</script></p>
  </div>

</footer>
