<div style="display: table-cell;vertical-align: middle;padding: 0px 70px;">
  <p>
    <b>InternCITY</b> is the first crowdsource recruiting platform in Bangladesh. We are here to transform the
    existing talent recruiting system by pioneering  more logical, innovative and impactful ways for
    everyone to benefit from it. InternCITY caters to the overlooked talents of Bangladesh, targeting the
    University students/graduates who are capable of delivering high quality work, while learning from the
    hands-on experience by the organizations and mentors within our network.
  </p>
</div>