<div class="side-left" style="height: 160px;color: #000000;display: table;">
  <div style="display: table-cell; vertical-align: middle;padding: 0px 50px;">
    <img src="/assets/email.png" style="height: 100px;float: left;margin-right: 10px;">
    <p style="padding-top: 30px;">For <b>General queries</b>, please email at</p>
    <p>info@interncity.org</p>
  </div>
</div>
<div class="side-right" style="height: 160px;color: #000000;display: table;">
  <div style="display: table-cell; vertical-align: middle;padding: 0px 50px;">
    <img src="/assets/mobile.png" style="height: 100px;float: left;margin-right: 10px;">
    <p style="padding-top: 30px;">To <b>Advertise</b> with us, please call</p>
    <p>+88 0175 87 37 093</p>
  </div>
</div>