<ol class="carousel-indicators">
  <li data-target="#rightPeopleCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#rightPeopleCarousel" data-slide-to="1"></li>
  <li data-target="#rightPeopleCarousel" data-slide-to="2"></li>
  <li data-target="#rightPeopleCarousel" data-slide-to="3"></li>
</ol>
<!-- Carousel items -->
<div class="carousel-inner" style="top:-2px;">
  <div class="active item">
    <%= image_tag "top_banner/top-banner-1.png" %>
  </div>
  <div class="item">
    <%= image_tag "top_banner/top-banner-2.png" %>
  </div>
  <div class="item">
    <%= image_tag "top_banner/top-banner-3.png" %>
  </div>
  <div class="item">
    <%= image_tag "top_banner/top-banner-4.png" %>
  </div>
</div>
