<h1>Listing interns</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interns.each do |intern| %>
  <tr>
    <td><%= link_to 'Show', intern %></td>
    <td><%= link_to 'Edit', edit_intern_path(intern) %></td>
    <td><%= link_to 'Destroy', intern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Intern', new_intern_path %>
